<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/cs2.css}">
</head>
<body>
  <div>
    <h3>Date</h3>
    <input type="month" value="2024-10" />
    <a th:href="@{/screen-2}" class="btn btn-primary">Display Switching</a>
    <a th:href="@{/addKey}" class="btn btn-primary">Add new</a>
  </div>
  <table>
    <thead>
    <tr>
      <th>SEARCH KEYWORDS</th>
      <th>DISPLAY KEYWORDS</th>
      <th>PLATFORM</th>
      <th>MATCH PATTERN</th>
      <th>REMARKS</th>
      <th colspan="17">1 - 17</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="keyword : ${keywords}">
      <td th:text="${keyword.keywordSearch}"></td>
      <td>
        <pre th:text="${keyword.keywordMatch}"></pre>
      </td>
      <td class="platform-ysuggestions" th:text="${keyword.platform}"></td>
      <td th:text="${keyword.device}"></td>
      <td class="remark" >Remark 1</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox">-</td>
      <td class="checkbox">-</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox">-</td>
      <td class="checkbox">-</td>
      <td class="checkbox">-</td>
      <td class="checkbox">-</td>
      <td class="checkbox active">✔</td>
      <td class="checkbox active">✔</td>
    </tr>
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous">
  </script>
</body>
</html>
